extends base.pug

- load i18n

block options

block content
  form.bg-white.sticky-top.pt-3.mb-3
    .input-group.mb-3
      input.form-control(
        type='text',
        placeholder='Buscar texto',
        aria-label='buscar texto',
        aria-describedby='basic-addon1',
        name='q',
        value="{{request.GET.q}}",
      )
      #button-addon4.input-group-append
          button.btn.btn-outline-secondary(type='submit') 
            i.fa.fa-search
    if perms.memories.add_memory
      .text-center
        .btn-group
          a.btn.btn-sm.btn-primary(
            href="{% url 'memory_create' %}"
          )
            | Agregar recuerdo &nbsp;
            i.fa.fa-plus
          a.btn.btn-sm.btn-success(
            href="{% url 'tasktemplate_list' %}"
          )
            | Agregar tarea
            i.fa.fa-plus

  .d-block.d-sm-none.mt-3
    for memory in object_list
      .card.mb-3
        if memory.image
          a(href='{{memory.get_absolute_url}}')  
            img.card-img-top(src="{{memory.image.src.sm_rectangle.url}}", alt='')
        .card-body
          h5.card-title 
            a.text-body(href='{{memory.get_absolute_url}}')  
              | {{memory.to_date|date:"D d M, Y"}}
          p.card-text
            | {{memory.text}}
            .text-right
              em.text-muted - {{memory.user.get_full_name}}
          a.btn.btn-primary(href='{{memory.get_absolute_url}}') Ver

      

  table.table.table-striped.table-hover.table-sm.d-none.d-sm-block
    thead
      tr
        {% include 'includes/list_th.pug' with order_by='to_date' verbose_name='Fecha' %}
        {% include 'includes/list_th.pug' with order_by='user__first_name' verbose_name='Quien' %}
        th Texto
        if perms.memories.change_memory
          th
    tbody
      for memory in object_list
        tr
          td.text-nowrap
            a(href="{{ memory.get_absolute_url }}")
              | {{memory.to_date|date:"D d M, Y"}}
          td.text-nowrap
            a(href="{{ memory.get_absolute_url }}")
              | {{memory.user}}
          td
            a(href="{{ memory.get_absolute_url }}")
              | {{memory.text}}
          if perms.memories.change_memory
            td.text-right
              a.btn.btn-primary(href="{% url 'memory_update' memory.id %}")
                i.fa.fa-edit

  {% include 'includes/pagination.pug' %}
