extends base.pug

- load i18n

block options
  .text-center.d-none.d-sm-block
    {% include 'memories/includes/buttons.pug' %}

block content
  blockquote.blockquote.text-center
    p.mb-0
      | {{object.text}}
    footer.blockquote-footer 
      | {{object.user.get_full_name}}

  .d-flex.justify-content-md-center.my-5
    for task in tasks
      span.btn.btn-primary.m-2(
        style="background-color: {{task.task_template.color}}",
        title="{{task.task_template.name}}"
      )
        {{task.task_template.icon.as_html}}
    a.btn.btn-primary.m-2(
      href="{% url 'task_create' memory.to_date %}"
    )
      i.fa.fa-plus

  .justify-content-md-center
    {% include 'memories/includes/gallery.pug' %}


  .text-center.d-block.d-sm-none.mb-3
    {% include 'memories/includes/buttons.pug' %}

  if perms.memories.change_memory
    form(
      action="{% url 'memory_image_create' memory.id %}"
      class="dropzone"
      id="memory-dropzone"
    )
      {% csrf_token %}
