extends base.pug

- load i18n

block options

block content
  form.bg-white.sticky-top.pt-3
    .input-group.mb-3
      input.form-control(
        type='text',
        placeholder='Buscar texto',
        aria-label='buscar texto',
        aria-describedby='basic-addon1',
        name='q',
        value="{{request.GET.q}}",
      )
      #button-addon4.input-group-append
          button.btn.btn-outline-secondary(type='submit') 
            i.fa.fa-search
    if perms.memories.add_memory
      a.btn.btn-sm.btn-primary.btn-block(
        href="{% url 'memory_create' %}"
      )
        | Agregar recuerdo &nbsp;
        i.fa.fa-plus

  for memory in object_list
    .card.mb-3
      if memory.image
        img.card-img-top(src="{{memory.image.src.sm_rectangle.url}}", alt='')
      .card-body
        p.card-text
          | {{memory.text}}
