- load i18n

header
  // Fixed navbar
  nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
    a.navbar-brand(href="{% url 'home' %}") 
      span.fa-stack.text-primary(style="font-size: 0.5em;")
        i.fad.fa-book-alt.fa-stack-2x(style="vertical-align: middle;")
        i.fas.fa-users.fa-stack-1x.fa-inverse(
          data-fa-transform="up-3",
          style="vertical-align: middle;"
        )
      span.ml-1 Diario Familia

      i.fa.fa-spinner.fa-spin.page-loading-icon
    button.navbar-toggler(
      type='button',
      data-toggle='collapse',
      data-target='#navbarCollapse',
      aria-controls='navbarCollapse',
      aria-expanded='false',
      aria-label='Toggle navigation'
    )
      span.navbar-toggler-icon

    #navbarCollapse.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        if user.is_authenticated
          if user.is_staff
            {% include 'includes/navbar_link.pug' with url_name='admin:index' verbose_name='Administration' %}

            {% include 'includes/navbar_link.pug' with url_name='status' verbose_name='status' %}

      ul.navbar-nav
        if user.is_authenticated
          li.nav-item
            a.nav-link(href="https://www.google.cl", target="_blank")
              | Google 
          li.nav-item
            a.nav-link(href="/status", target="_blank")
              | Status 
          li.nav-item.dropdown
            a#dropdown-logged-in.nav-link.dropdown-toggle(
              href='#',
              data-toggle='dropdown',
              aria-haspopup='true',
              aria-expanded='false'
            ) {% trans 'Logged in as' %} {{user.email}}
            .dropdown-menu(aria-labelledby='dropdown-logged-in')
              a.dropdown-item(href="{% url 'user_profile' %}")
                {% trans 'My profile' %}
              a.dropdown-item(href="{% url 'password_change' %}")
                {% trans 'Change password' %}
              if request.session.loginas_from_user
                a.dropdown-item(href="{% url 'loginas-logout' %}")
                  {% trans 'Logout' %}
              else
                a.dropdown-item(href="{% url 'logout' %}")
                  {% trans 'Logout' %}

        else
          {% include 'includes/navbar_link.pug' with url_name='login' verbose_name='login' %}
