doctype 5

- load render_bundle from webpack_loader
- load staticfiles
- load i18n static

html(lang="es")
  head
    if google_analytics_code
      // Global site tag (gtag.js) - Google Analytics
      script(
        async,
        src="https://www.googletagmanager.com/gtag/js?id={{google_analytics_code}}"
      )
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{google_analytics_code}}');


    meta(charset="utf-8")
    title
      | {% block title %}{% if title%}{{title}} - {% endif %}{%endblock%} Diario de familia
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="")
    meta(name="author", content="http://magnet.cl")
    meta(name='keywords', content="")

    // Schema.org for Google
    meta(itemprop='name', content="")
    meta(itemprop='description', content="")

    link(rel='apple-touch-icon', sizes='57x57', href='/static/favicon/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/static/favicon/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/static/favicon/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/static/favicon/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/static/favicon/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/static/favicon/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/static/favicon/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/static/favicon/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/static/favicon/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/static/favicon/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/static/favicon/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/static/favicon/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/static/favicon/favicon-16x16.png')
    link(rel='manifest', href='/manifest.json')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='/static/favicon/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')


    script(src="https://kit.fontawesome.com/ef0252534e.js")

    // image
    if object.image
      meta(itemprop='image', content='{{ object.image.url }}')
      meta(name='image', content='{{ object.image.url }}')
      meta(name='twitter:image', content='{{ object.image.url }}')
      meta(property='og:image', content="{{ object.image.url }}")
      meta(property='og:image:width', content="{{ object.image.width }}")
      meta(property='og:image:height', content="{{ object.image.height }}")
    else
      meta(
        name="og:image",
        content="{{request.scheme}}://{{request.META.HTTP_HOST}}/static/img/logo.png"
      )
      meta(
        itemprop='image',
        content='{{request.scheme}}://{{request.META.HTTP_HOST}}/static/img/logo.png'
      )
      meta(
        name='image',
        content='{{request.scheme}}://{{request.META.HTTP_HOST}}/static/img/logo.png'
      )
      meta(
        name='twitter:image',
        content='{{request.scheme}}://{{request.META.HTTP_HOST}}/static/img/logo.png'
      )
      meta(
        property='og:image',
        content="{{request.scheme}}://{{request.META.HTTP_HOST}}/static/img/logo.png"
      )
      meta(property='og:image:width', content="1000")
      meta(property='og:image:height', content="1000")

    // Twitter
    meta(name='twitter:card', content="summary_large_image")
    meta(name='twitter:title', content='{{title}}')
    meta(name='twitter:site', content="@")
    meta(name='twitter:description', content='')
    meta(name='twitter:site', content='@')
    meta(name='twitter:creator', content='@')

    meta(name='og:site_name', content="Project")
    meta(name='og:type', content='website')

    // Open Graph general (Facebook, Pinterest & Google+)
    meta(property='og:title', content='{{title}}')
    meta(property='og:description', content='')

    meta(
      property='og:url',
      content='{{ request.scheme }}://{{ request.get_host }}{{request.path}}'
      )
    meta(property='og:locale', content='{{request.LANGUAGE_CODE}}')

    //if lte IE 7
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")

    //if lt IE 9
      script(src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js")

    link(
      href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css",
      rel="stylesheet"
    )
    link(
      href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css",
      rel="stylesheet"
    )
    link(
      href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css",
      rel="stylesheet"
    )
    link(
      href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.12/css/lightgallery.min.css",
      rel="stylesheet"
    )
    {% render_bundle 'main' 'css' %}

    block stylesheets

  body(class='{{body_class|default:""}}')
    {% include 'includes/navbar.pug' %}
    main(role="main")
      .container-fluid
        div.main-alert.fixed-notification
          {% if messages %}
          {% for message in messages %}
          div(class="alert alert-{{ message.tags }}")
            button.close(type="button", data-dismiss="alert", aria-label="Close")
              span.i.fa.fa-times
                |
          {{ message }}
          {% endfor %}
          {% endif %}

      .container-fluid
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            if request.path != '/'
              li.breadcrumb-item
                a(href="{% url 'home' %}")
                  {% trans 'Home' %}

            block breadcrumbs

            if title
              li.breadcrumb-item.active(aria-current='page') 
                a(href="")
                  | {{title}}
      .container-fluid
        block content_title
          .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
            h1.display-4 {{ title }}
            .btn-toolbar.mb-2.mb-md-0
              .btn-group.mr-2
                block options
      .container-fluid
        block content

    {% include 'includes/footer.pug' %}

    // Javascript Placed at the end of the document so the pages load faster
    // uncompressible javascripts

    block uncompressible_javascripts

    script(src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/popper.min.js",
      integrity="sha256-1XfFQxRfNvDJW3FdZ+xlo2SbodG2+rFArw6XsVzu3bc=",
      crossorigin="anonymous"
    )
    script(
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js",
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM",
      crossorigin="anonymous"
    )
    script(
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js",
      integrity="sha256-AdQN98MVZs44Eq2yTwtoKufhnU+uZ7v2kXnD5vqzZVo=",
      crossorigin="anonymous"
    )
    script(
      src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js",
      integrity="sha256-GHC3xFbrevQ0aRcWg5JElUOncXYXxTtMOuA74cWAPTw=",
      crossorigin="anonymous"
    )
    script(
      src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js",
      integrity="sha256-z0oKYg6xiLq3yJGsp/LsY9XykbweQlHl42jHv2XTBz4=",
      crossorigin="anonymous"
    )
    script(
      src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.js",
      crossorigin="anonymous"
    )
    script(
      src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.12/js/lightgallery-all.min.js",
      crossorigin="anonymous"
    )

    block javascripts

    {% render_bundle 'main' 'js' %}
