html
  body
    h1 Terms of Service ("Terms")
    p Last updated: August 19, 2019
    p
      | Please read these Terms of Service ("Terms", "Terms of Service") carefully before using the https://diariofamilia.cl/ website (the "Service") operated by Diario Familia ("us", "we", or "our").
    p
      | Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.
    p
      | By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service. The Terms of Service agreement  for Diario Familia has been created with the help of 
      a(href="https://www.termsfeed.com/") TermsFeed
      | .
    h2 Links To Other Web Sites
    p
      | Our Service may contain links to third-party web sites or services that are not owned or controlled by Diario Familia.
    p
      | Diario Familia has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that Diario Familia shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.
    p
      | We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.
    h2 Governing Law
    p
      | These Terms shall be governed and construed in accordance with the laws of Chile, without regard to its conflict of law provisions.
    p
      | Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.
    h2 Changes
    p
      | We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.
    p
      | By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.
    h2 Contact Us
    p If you have any questions about these Terms, please contact us.

