if perms.memories.change_memory
  .btn-group
    {% with previous=memory.previous %}
    if previous
      a.btn.btn-sm.btn-outline-secondary(
        href="{{previous.get_absolute_url}}"
      )
        i.far.fa-arrow-left
    else
      a.btn.btn-sm.btn-outline-secondary(
        href="{% url 'memory_create' %}?to_date={{memory.previous_date|date:'d/m/Y'}}"
      )
        i.far.fa-arrow-left
    {% endwith %}
    a.btn.btn-sm.btn-outline-secondary(
      href="{% url 'memory_update' memory.id %}"
    )
      | Cambiar texto &nbsp;
      i.fa.fa-edit
    {% with next=memory.next %}
    if next
      a.btn.btn-sm.btn-outline-secondary(
        href="{{next.get_absolute_url}}"
      )
        i.far.fa-arrow-right
    else
      a.btn.btn-sm.btn-outline-secondary(
        href="{% url 'memory_create' %}?to_date={{memory.next_date|date:'d/m/Y'}}"
      )
        i.far.fa-arrow-right
    {% endwith %}
