extends base.pug

- load i18n

block options
  if perms.tasks.add_task
    a.btn.btn-sm.btn-outline-secondary(
      href="{% url 'task_create' %}"
    )
      {% trans 'Add task' %}
      i.fa.fa-plus

block content

  table.table.table-striped.table-hover.table-sm
    thead
      tr
        th Id
        th {% trans 'name'|capfirst %}
        if perms.tasks.change_task or perms.tasks.delete_task
          th
    tbody
      for task in object_list
        tr
          td
            a(href="{{ task.get_absolute_url }}")
              | {{task.id}}
          td
            a(href="{{ task.get_absolute_url }}")
              | {{task}}
          if perms.tasks.change_task or perms.tasks.delete_task
            td.text-right
              if perms.tasks.change_task
                a.btn.btn-sm.btn-outline-secondary(href="{% url 'task_update' task.id %}")
                  {% trans 'Update task' %}
                  i.fa.fa-edit
              if perms.tasks.delete_task
                a.btn.btn-sm.btn-danger(href="{% url 'task_delete' task.id %}")
                  {% trans 'Delete task' %}
                  i.fa.fa-times

  {% include 'includes/pagination.pug' %}
