extends base.pug

- load i18n

block options
  if perms.tasks.change_tasktemplate
    a.btn.btn-sm.btn-outline-secondary(href="{% url 'tasktemplate_update' tasktemplate.id %}")
      {% trans 'Update task template' %}
      i.fa.fa-edit
  if perms.tasks.delete_tasktemplate
    a.btn.btn-sm.btn-danger(href="{% url 'tasktemplate_delete' tasktemplate.id %}")
      {% trans 'Delete task template' %}
      i.fa.fa-times

block breadcrumbs
  li.breadcrumb-item
    a(href="{% url 'tasktemplate_list' %}")
      | {{opts.verbose_name_plural|capfirst}}

block content
  table.table.table-striped.table-hover.table-sm
    tbody
      tr
        th Id
        td {{tasktemplate.id}}
