extends base.pug

- load i18n

block options
  if perms.tasks.add_tasktemplate
    a.btn.btn-sm.btn-outline-secondary(
      href="{% url 'tasktemplate_create' %}"
    )
      {% trans 'Add task template' %}
      i.fa.fa-plus

block content
  .d-flex.justify-content-md-center
    for task_template in object_list
      a.btn.btn-primary.m-2(
        style="background-color: {{task_template.color}}",
        title="{{task_template.name}}"
        href="{{task_template.get_absolute_url}}"
      )
        {{task_template.icon.as_html}}
