extends base.pug

- load i18n

block options
  if perms.tasks.change_task
    a.btn.btn-sm.btn-outline-secondary(href="{% url 'task_update' task.id %}")
      {% trans 'Update task' %}
      i.fa.fa-edit
  if perms.tasks.delete_task
    a.btn.btn-sm.btn-danger(href="{% url 'task_delete' task.id %}")
      {% trans 'Delete task' %}
      i.fa.fa-times

block breadcrumbs
  li.breadcrumb-item
    a(href="{% url 'task_list' %}")
      | {{opts.verbose_name_plural|capfirst}}

block content
  table.table.table-striped.table-hover.table-sm
    tbody
      tr
        th Id
        td {{task.id}}
